@model IEnumerable<Technician>
@{ ViewData["Title"] = "Technician Manager"; }
<style>
    tbody > tr:hover {
        background-color: #daf1fc;
    }
</style>

<h2 class="float-left">Technician Manager</h2>

<p>
    <a class="btn btn-primary float-right" role="button" asp-action="Add">Add Technician</a>
</p>
<br style="clear:both" />
<table class="table mt-3">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Email)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Phone)
            </th>
            <th></th>
            <th></th>
        </tr>
    </thead>
    <tbody>
       @foreach (var item in Model)
        {
        <tr>
            <td>
                <a style="text-decoration:none" asp-action="Details" asp-route-id="@item.TechnicianId" asp-route-slug="@item.Slug">@Html.DisplayFor(modelItem => item.Name)</a>
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Email)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Phone)
            </td>
            <td>
                <a class="text-secondary" asp-action="Edit" asp-route-id="@item.TechnicianId" asp-route-slug="@item.Slug"><i class="fas fa-edit"></i></a>
            </td>
            <td>
                <a class="text-danger" asp-action="Delete" asp-route-id="@item.TechnicianId" asp-route-slug="@item.Slug"><i class="fas fa-trash-alt"></i></a>
            </td>
        </tr>
        }
    </tbody>
</table>
