@model IncidentListViewModel
@{ 
    ViewData["Title"] = "Incident Manager";
}
<style>
    tbody > tr:hover {
        background-color: #daf1fc;
    }
</style>
<h2 class="float-left">Incident Manager</h2>

<p>
    <a class="btn btn-primary float-right" role="button" asp-action="Add">Add Incident</a>
</p>
<br style="clear:both" />

<ul class="nav nav-pills">
    <li class="nav-item">
        <a class="nav-link @ViewBag.All" asp-route-filter="All">All Incidents</a>
    </li>
    <li class="nav-item">
        <a class="nav-link @ViewBag.Un" asp-route-filter="unassigned">Unassigned Incidents</a>
    </li>
    <li class="nav-item">
        <a class="nav-link @ViewBag.Open" asp-route-filter="openincident">Open Incidents</a>
    </li>
</ul>

<table class="table mt-3">
    <thead>
        <tr>
            <th>Title</th>
            <th>Customer</th>
            <th>Product</th>
            <th>Date Opened</th>
            <th></th>
            <th></th>
        </tr>
    </thead>

    <tbody>
        @foreach (Incident incident in Model.Incidents)
        {
            <tr>
                <td>
                    <a style="text-decoration:none" asp-action="Details" asp-route-id="@incident.IncidentId" asp-route-slug="@incident.Slug">@incident.Title</a>
                </td>
                <td>
                    <a style="text-decoration:none" asp-controller="Customer" asp-action="Details" asp-route-id="@incident.CustomerId" asp-route-slug="@incident.Customer.Slug">@incident.Customer.FullName</a>
                </td>
                <td>
                    <a style="text-decoration:none" asp-controller="Product" asp-action="Details" asp-route-id="@incident.ProductId" asp-route-slug="@incident.Product.Slug">@incident.Product.Name</a>
                </td>
                <td>@incident.DateOpened</td>
                <td>
                    <a class="text-secondary" asp-action="Edit" asp-route-id="@incident.IncidentId" asp-route-slug="@incident.Slug"><i class="fas fa-edit"></i></a>
                </td>
                <td>
                    <a class="text-danger" asp-action="Delete" asp-route-id="@incident.IncidentId" asp-route-slug="@incident.Slug"><i class="fas fa-trash-alt"></i></a>
                </td>
            </tr>
        }
    </tbody>
</table>