@model IEnumerable<Customer>
@{
    ViewData["Title"] = "Customer Manager";
}
<style>
    tbody > tr:hover {
        background-color: #daf1fc;
    }
</style>

<h2 class="float-left">Customer Manager</h2>

<p>
    <a class="btn btn-primary float-right" role="button" asp-action="Add">Add Customer</a>
</p>
<br style="clear:both" />
<table class="table mt-3">
    <thead>
        <tr>
            <th>Name</th>
            <th>Email</th>
            <th>City</th>
            <th></th>
            <th></th>
        </tr>
    </thead>

    <tbody>
       @foreach (Customer customer in Model)
        {
            <tr>
                <td>
                    <a style="text-decoration:none" asp-action="Details" asp-route-id="@customer.CustomerId" asp-route-slug="@customer.Slug">@customer.FullName</a>
                </td>

                <td>@customer.Email</td>

                <td>@customer.City</td>
                <td>
                    <a class="text-secondary" asp-action="Edit" asp-route-id="@customer.CustomerId" asp-route-slug="@customer.Slug"><i class="fas fa-edit"></i></a>
                </td>
                <td>
                    <a class="text-danger" asp-action="Delete" asp-route-id="@customer.CustomerId" asp-route-slug="@customer.Slug"><i class="fas fa-trash-alt"></i></a>
                </td>
            </tr>
        }
    </tbody>
</table>